# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints
plots-Copy1.ipynb
plots-Copy2.ipynb

# Project specific
checkpoints/
figures/

# Environment variables
.env
